<div class="row below_the_fixed">

<div class="col s12 m8 l9"> <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel

              This content will be:
          3-columns-wide on large screens,
          4-columns-wide on medium screens,
          12-columns-wide on small screens  -->

<div class="container left-content">
<div class = "title-wrapper">
<strong class="title"><%= @post.title.upcase %></strong>

<!-- DROP DOWN TRIGGER -->
<% if user_signed_in? %>
<a class="dropdown-trigger1 right" href="#!" data-target="dropdown3" ><i class="material-icons">keyboard_arrow_down</i></a>
<% end %>

<!-- DROP DOWN TRIGGER -->

<% date = @post.created_at.to_s.slice(0,16) %>
<div>
<span class ="post_info"> 投稿日時:<%= date %></span ><span>   </span><span class ="post_info">投稿者:<%= @post.user.nickname%></span>


</div>
</div>

<!-- //* Dropdown button*// -->

<% if current_user.id == @post.user_id %>
<ul id="dropdown3" class="dropdown-content">
  <li><a class="" href="/posts/<%= @post.id %>/edit">編集</a></li>
   <li class="divider"></li>
  <li id="delete-btn"> <a class="modal-trigger " onclick="$('#modal1').modal('open');">消去</a>
</ul>
<% end %>

<% if !(current_user.id == @post.user_id) %>
<ul id="dropdown3" class="dropdown-content">
  <li><span class="disabled">編集</span></li>
   <li class="divider"></li>
  <li id="delete-btn"> <span class="disabled">消去</span>
</ul>
<% end %>

<!-- //* Dropdown button*// -->

<div class ="main-text-wrapper">
<div class="main-text_show">
<%= @post.text %>
</div>

</div>

<div class="page-changer">

<% if @previous %>
  <a class="left" href="/posts/<%= @previous.id %>"><i class="material-icons left">arrow_back</i>前の投稿</a>
<% else %>
  <i class="material-icons greyd-out big">arrow_back</i>
<% end %>
<% if @next %>
  <a href="/posts/<%= @next.id %>" class="right"><i class="material-icons left">arrow_forward</i>次の投稿</a>
<% else %>
  <i class="material-icons greyd-out right big">arrow_forward</i>
<% end %>
</div>

</div>
</div>

<!-- Side bar starts here -->
<div class="col s12 m4 l3  hide-on-small-and-down">
  <div class="side-bar">
    <p>ここに何か入る</p>
  </div>
  <!-- Side bar ends here -->
       <!-- Note that "m8 l9" was added -->
        <!-- Teal page content

              This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->

</div>

  <!-- Modal Structure -->
   <div id="modal1" class="modal">
    <div class="modal-content">
      <h5>投稿の消去</h5>
      <p>投稿を消去すると元に戻せません。<br>宜しいですか。</p>
    </div>
    <div class="modal-footer">
      <%= link_to "はい","/posts/#{@post.id}", class: "modal-close waves-effect waves-green btn-flat", method: :delete %>
      <a href="/posts/<%=@post.id %>" class=" waves-effect waves-green btn-flat modal-close">いいえ</a>
    </div>
  </div>
</div>
  <!-- Modal Structure -->
